body {
    height: 100vh;
    overflow: hidden;
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;
    background:#141414;
    color: #7a9d58;
}

.sidebar {
    background: #141414;
    height: 100vh;
    overflow-y: auto;
}

#currentUserDisplay {
    display: block;
    color: #ede5ab;
    font-size: 18px;
    margin-top: 2px;
    text-align: center;
}

.list-group-item.active {
    background-color: #7a9d58;
    border-color: #7a9d58;
    color: white;
}

/* Sign In Page */
#loginPage {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;    
    display: flex;
}

.TEMUCHAT_INFO {
    flex: 2;
    background: #0A0A0A;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.TEMUCHAT_INFO h1 {
    font-size: 92px;
}

.TEMUCHAT_INFO h3 {
    font-size: 48px;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transform: skew(7deg);
    letter-spacing: 2px;
    color: #e3d87e;
}

.signInInfo p {
    color: #e3d87e;
}

.inline-img {
    height: 1.5em;
}

.signInInfo {  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.input-group input:focus {
    background-color: #1f1f1f;  /* keep same as normal */
    color: white;               /* keep text readable */
    box-shadow: none;
    border-color: #7a9d58;
}

.input-group input {
    color: white;
}

.signInInfo h2 {
    text-align: center;
    margin-bottom: 15px;
}

.NewUserGroup {
    text-align: center;
    margin-top: 10px;
}

.NewUserGroup .btn-link {
    color:#e3d87e;
    text-decoration: none;
}

.NewUserGroup .btn-link:hover {
    color: #ded068;
    text-decoration: underline; 
}

.sidebar h5 {
    font-size: 36px;
    color: #ded068;
}

/* Chat Area */
.chat-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #141414; 
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

/* Messages */
.message {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#messageInput::placeholder {
    color: white;
}

.sent {
    background-color: white; /* Bootstrap primary FIRST ONE */ 
    color: #1f1f1f;
    margin-left: auto;
}

.received {
    background-color: #1f1f1f; /* light gray */
    color: white;
}

/* Input */
.input-group input {
    background-color:#1f1f1f;
    border: 1px solid #1f1f1f; /* subtle border */
}

.input-group input:focus {
    box-shadow: none;
    border-color: #1f1f1f;
}

.btn-primary {
    background-color: #e3d87e;
    color: #1f1f1f;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #e3d87e !important;
}

.badge {
    float: right;
}

.signupHidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    width: 250px;
}

.signupVisible {
    max-height: 300px;
    opacity: 1;
    margin-top: 15px;
}


.p-2 strong{
    font-size: 16px;
}

/* Custom colors */
.sidebarScheme{
    background-color: #1f1f1f;
    color: white;
}

.charAreaScheme{
    background-color: #181818;
    color: white;
}

.inputAreaScheme{
    background: #141414;
    color: white;
    border: #141414;

}

/* toggle titles */
#authBox.signInInfo h2 {
    color: #7a9d58;
}

#authBox.registerMode h2 {
    color: #e3d87e
}

/* toggle buttons */
#authBox.signInInfo .btn-primary {
    background-color:#7a9d58 !important;
    color: white;
    border-color: #7a9d58 !important;
}

#authBox.registerMode .btn-success {
    background-color: #e3d87e !important;
    color: white;
    border-color: #e3d87e !important;
}

/* toggle links */
#authBox.signInInfo .btn-link {
    color: #e3d87e;
}

#authBox.registerMode .btn-link {
    color: #7a9d58;
}

/* toggle text */
#authBox.signInInfo  #toggleText  {
    color: #e3d87e;
}

#authBox.registerMode  #toggleText  {
    color: #7a9d58;
}

/* Avatar + name */
.user-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #7a9d58;
    color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    flex-shrink: 0;
}

.username-text {
    color: #96979f
}

.list-group-item {
    cursor: pointer;
}

/* Sidebar */
#userList .list-group-item {
    background-color: #1f1f1f;
    color: #7a9d58;
    border: none;
}


#chatList .list-group-item {
    background-color: #1f1f1f;
    color: #96979f;
    border: none;
}
#chatList .list-group-item.active {
    background-color: #2d2d30;
    color: white;
    border: none;
}

#chatList .list-group-item:hover {
    background-color: #1c1c1f;
    color: white;
}