/* Make body full height */
body {
    height: 100vh;
    overflow: hidden;
    /* font-family: "Mulish", sans-serif; */
    /* font-family: "Playpen Sans", cursive; */

    font-family: "McLaren", sans-serif;


    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    background:#141414;
    color: #7a9d58;
}

/* Sidebar */
.sidebar {
    background: #141414;
    height: 100vh;
    overflow-y: auto;
}

.list-group-item.active {
    background-color: #7a9d58;
    border-color: #7a9d58;
    color: white;
}

.list-group-item {
    cursor: pointer;
}

/* Sign In Page */
#loginPage {
    /* background-image: url("assets/img/frontPage-Background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */

    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;    
    display: flex;
    /* height: 100vh; */
}

.TEMUCHAT_INFO {
    flex: 2;
    background: #0A0A0A;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}

.TEMUCHAT_INFO h1 {
    font-size: 92px;
}

.TEMUCHAT_INFO h3 {
    font-size: 48px;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transform: skew(7deg);
    letter-spacing: 2px;
    color: #e3d87e;

}

.signInInfo p {
    color: #e3d87e;

}


.inline-img {
    height: 1.5em;
}

.signInInfo {  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* display: flex;
    background: rgba(255, 255, 255, 0.1);

    width: 33vw;  
    height: 33vh; 
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 20px;
    backdrop-filter: blur(10px); 
  

    flex-direction: column;
    justify-content: center;
    gap: 10px; */
}


.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}


.signInInfo h2 {
    text-align: center;
    margin-bottom: 15px;
}

.NewUserGroup {
    text-align: center;
    margin-top: 10px;
}

.NewUserGroup .btn-link {
    color:#e3d87e;
    text-decoration: none;
}

.NewUserGroup .btn-link:hover {
    color: #ded068;
    text-decoration: underline; 
}



/* Chat Area */
.chat-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #141414; 
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

/* Messages */
.message {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#messageInput::placeholder {
    color: white;
}

.sent {
    background-color: white; /* Bootstrap primary FIRST ONE */ 
    color: #1f1f1f;
    margin-left: auto;
}

.received {
    background-color: #1f1f1f; /* light gray */
    color: white;
}

/* Input */
.input-group input {
    background-color:#1f1f1f;
    border: 1px solid #1f1f1f; /* subtle border */
}

.input-group input:focus {
    box-shadow: none;
    border-color: #7a9d58;
}

.btn-primary {
    background-color: #7a9d58;
    border: none;
}

.btn-primary:hover {
    background-color: #7a9d58;
}

.badge {
    float: right;
}

/* Custom colors */
.sidebarScheme{
    background-color: #1f1f1f;
    color: white;
}

.charAreaScheme{
    background-color: #181818;
    color: white;
}

.inputAreaScheme{
    background: #141414;
    color: white;
    border: #141414;

}